/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* 
  BASE STYLES
*/

:root {
  --limited-width: 640px;
  --box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px;
}

main > * {
  margin-block-end: var(
    --section-gap
  ); /* adds a margin-bottom to every child of <main> */
}

main {
  padding: var(--padding-l) var(--padding-m); /* adds a global padding "outlining" the entire page */
}

/* 
  UTILS
*/

/* Remove default underline from <a> */
a.link-no-underline {
  text-decoration: none;
}

/* Add on a block of content to limit its width and center it */
.center-content {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--limited-width);
}

/* 
  INTERACTIONS
*/

*:focus {
  outline: var(--outline);
  outline-offset: var(--outline-offset);
}

/* 
  MEDIA QUERIES
*/

@media only screen and (width > 480px) {
  main {
    padding: var(--padding-xl) var(--padding-xl);
  }
}
