/* 
  This typography stylesheet needs to be imported in specific components, where it is needed. When the class name "typography" is used on a parent tag, the text flow of all of its children will be automatically adapted.
*/

/* DEFAULT STYLES */
.typography > * {
  margin-bottom: 1rem; /* Default text flow: margin after each child element */
  line-height: var(--lineheight-body);
}
.typography > *:last-child {
  margin-bottom: 0;
}

/* HEADLINES */
.typography h1,
.typography h2,
.typography h3 {
  font-variation-settings: var(--fontvariation-headline);
  line-height: var(--lineheight-headline);
}
