/* IF CART EMTPY */

.CartEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-l);
}
.CartEmpty p {
  font-size: var(--fontsize-headline-m);
}

/* IF CART FULL */

.CartOverview {
  display: flex;
  flex-wrap: wrap;
  gap: var(--section-gap);
  justify-content: center;
}

.CartOverview__summary {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  flex: 1 1 300px;
  max-width: var(--limited-width);
}

.CartOverview__totalPrice {
  display: flex;
  justify-content: space-between;
  font-variation-settings: var(--fontvariation-body-strong);
}
