.OrderItem__card {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-l);
  border: var(--border) var(--bg-subtle);
  border-radius: var(--border-radius);
  max-width: 100%;
}
.OrderItem__card h2 {
  /* Order number (used as <h2>) can be very long and without space */
  word-break: break-all;
}
.OrderItem__card > * {
  padding: var(--padding-m);
}
.OrderItem__card > *:first-child {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

.OrderItem__list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}
.OrderItem__list ul {
  /* Reset default <ul> styles */
  padding: 0;
  list-style: none;
  /* Custom styles */
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

.OrderItem__item {
  display: flex;
  gap: var(--spacing-l);
}

.OrderItem__itemImage {
  position: relative;
  height: fit-content;
}
.OrderItem__itemImage img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.OrderItem__itemDescription > * {
  margin-bottom: var(--spacing-m);
}
.OrderItem__itemLink {
  font-size: var(--fontsize-headline-s);
  line-height: var(--lineheight-headline);
}
