#Header {
  padding: var(--padding-m);
  box-shadow: var(--box-shadow);
}

/* NAV */
#NavList {
  /* Reset default <ul> styles */
  list-style-type: none;
  padding-left: 0;
  /* Custom styles */
  display: flex;
  gap: var(--spacing-l);
  align-items: center;
}
#NavList > li:first-child {
  margin-right: auto;
}

#Logo {
  display: block;
  height: 56px;
  width: 56px;
}

@media only screen and (width > 480px) {
  #Header {
    padding: var(--padding-m) var(--padding-xl);
  }
  #Logo {
    height: 72px;
    width: 72px;
  }
}
