.Pill {
  font-size: var(--fontsize-body-s);
  position: relative;
  border: var(--border) var(--bg-subtle);
  border-radius: 1000px;
  padding: var(--padding-s) var(--padding-m);
  /* Align and vertically center pill content */
  display: flex;
  align-items: center;
  gap: var(--padding-s);
}
.Pill,
.Pill * {
  cursor: pointer;
}

/* Hide default <input> box */
.Pill_input {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Pill_icon {
  height: var(--iconsize-xs);
}

/* 
  INTERACTIONS
*/

.Pill:hover,
.Pill:focus {
  color: var(--fg-strong);
  background-color: var(--bg-strong);
  border-color: var(--bg-strong);
}

/* If pill is checked */
.Pill.checked {
  background-color: var(--bg-strong);
  border-color: var(--bg-strong);
}
.Pill.checked * {
  color: var(--fg-strong);
}
.Pill.checked .Pill_iconWrapper {
  display: inline-block;
}

/* Simulate default outline */
/* TODO: backup if :focus-within is not supported */
.Pill:focus-within {
  outline: var(--outline);
  outline-offset: var(--outline-offset);
}
