#ProductCard {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xl);
}

/* CARROUSEL */
#ProductCard > *:first-child {
  width: 100%;
  flex: 1 1 65%;
  height: 400px;
}

/* PRODUCT DETAILS */
#ProductCard > *:last-child {
  width: 100%;
  flex: 1 1 25%;
}
#ProductCard > *:last-child > * {
  margin-bottom: 1rem;
}

@media only screen and (width > 480px) {
  #ProductCard > *:first-child {
    height: 600px;
  }
}
