#ProductDetails {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xl);
}

/* Carousel */
#ProductDetails > *:first-child {
  width: 100%;
  flex: 1 1 65%;
  height: 400px;
}

/* PRODUCT DETAILS */
#ProductDetails > *:last-child {
  width: 100%;
  flex: 1 1 25%;
  min-width: 200px;
}
#ProductDetails > *:last-child > * {
  margin-bottom: 1rem;
}

@media only screen and (width > 480px) {
  #ProductDetails > *:first-child {
    height: 600px;
  }
}
