.Carousel {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--spacing-m);
}

.Carousel__tabList {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-m);
  /* setup, so that .Carousel__tablist can be scrolled */
  flex: 1 0 auto; /* flex-shrink needs to be 0 to avoid unwanted horizontal scroll */
  overflow-y: auto;
}

.Carousel__tabList button {
  /* Reset <button> default styles */
  border: 0;
  background-color: transparent;
  cursor: pointer;
  /* Custom styles */
  height: 56px;
  width: 56px;
  position: relative;
  border: var(--border) var(--fg-normal);
}

.Carousel__tabList button img {
  object-fit: cover;
}

.Carousel__panel {
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 300px;
}

.Carousel__panel img {
  object-fit: contain;
}

/* INTERACTIONS */

.Carousel__tabList button[aria-selected="false"] {
  opacity: 0.5;
  border: none;
}

/* MEDIA QUERIES */

@media only screen and (width > 480px) {
  .Carousel {
    flex-direction: row;
  }
  .Carousel__tabList {
    flex-direction: column;
    overflow-x: auto;
    width: 100px;
  }
  .Carousel__tabList button {
    height: 72px;
    width: 72px;
  }
  .Carousel__tabList > div {
    /* setup, so that .Carousel__tablist can be scrolled */
    min-height: min-content;
  }
}
