#ProductDetails {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xl);
}

/* CAROUSEL */
#ProductDetails > *:first-child {
  width: 100%;
  flex: 1 1 65%;
  height: 400px;
}

/* PRODUCT INFO */
#ProductDetails > *:last-child {
  width: 100%;
  flex: 1 1 25%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.ProductDetails__tagline {
  margin-block: 2rem;
  font-size: var(--fontsize-headline-s);
}

.ProductDetails__tagList {
  /* Reset styles */
  list-style: none;
  padding: 0;
  /* Custom styles */
  background: var(--bg-subtle);
  font-size: var(--fontsize-body-m);
}
.ProductDetails__tagList > li {
  display: flex;
  gap: var(--spacing-m);
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-m);
}
.ProductDetails__tagList > li:not(:last-child) {
  border-bottom: 1px solid var(--fg-subtle);
}
.ProductDetails__tagList > li svg {
  display: block;
  flex: 0 0 var(--iconsize-m);
}

@media only screen and (width > 480px) {
  #ProductDetails > *:first-child {
    height: 600px;
  }
}
