name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Install dependencies
        run: npm install

      - name: Sanity type generation
        run: npm run typegen

      - name: Lint code
        run: npm run lint

      - name: Run tests
        run: npm test

      - name: Type check
        run: npm run typecheck
